.footer {
  background-color: var(--dark-grey);
  height:120px;
  /* margin-top: -48px; */
}

.contact {
  display: flex;
  align-items: center;
  text-align: center;
}

.contact svg {
  stroke: var(--white-color);
  fill: rgba(0, 0, 0, 0);
  height: 24px;
  padding-top: 4px;
}

.footerColumn {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
}

.contact ul {
  display: block;
  padding: 0px;
}

.contact li {
  display: inline-block;
}

.contact a {
  transition: all 300ms ease-in-out;
}

.contact a svg {
  transition: all 300ms ease-in-out;
}

.contact a:hover {
  border-bottom: 1px solid var(--white-color);
  transition: all 300ms ease-in-out;
}

.contact a:hover svg {
  fill: var(--main-color);
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
}

.contact a {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: var(--white-color);
}

@media (max-width: 650px) {
  .navBar {
    display: none;
  }
}