.nav {
  text-align: right;
}

.nav ul {
  display: block;
  padding: 0px;
}

.nav li {
  display: inline-block;
  padding: 2px;
  margin: 8px;
}

.nav li:hover {
  border-bottom: 2px solid var(--white-color);
  transition: all 300ms ease-in-out;
}

.nav li {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: var(--white-color);
  font-size: 1.2rem;
  transition: all 400ms ease-in-out;
}

.isCurrent {
  background-color: #f1befabb;
  border-bottom: 2px solid var(--white-color);
}
